In [1]:
!pip install fbprophet

Collecting fbprophet
  Downloading fbprophet-0.7.1.tar.gz (64 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting Cython>=0.22 (from fbprophet)
  Downloading cython-3.1.2-cp312-cp312-win_amd64.whl.metadata (6.0 kB)
Collecting cmdstanpy==0.9.5 (from fbprophet)
  Downloading cmdstanpy-0.9.5-py3-none-any.whl.metadata (2.9 kB)
Collecting pystan>=2.14 (from fbprophet)
  Downloading pystan-3.10.0-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: numpy>=1.15.4 in c:\users\ali\anaconda3\lib\site-packages (from fbprophet) (1.26.4)
Requirement already satisfied: pandas>=1.0.4 in c:\users\ali\anaconda3\lib\site-packages (from fbprophet) (2.2.2)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\ali\anaconda3\lib\site-packages (from fbprophet) (3.9.2)
Collecting LunarCalendar>=0.0.9 (from fbprophet)
  Downloading LunarCalendar-0.0.9-py2.py3-none-any.whl.metadata (6.3 kB)
Collecting convertdate>=2.1.2 (from fbprophet)
  Downloading convertdate-2.4.0-py3-none-any.whl.metadata (8.3 kB)
Collecting holidays>=0.10.2 (from fbprophet)
  Downloading holidays-0.76-py3-none-any.whl.metadata (44 kB)
Collecting setuptools-git>=1.2 (from fbprophet)
  Downloading setuptools_git-1.2-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: python-dateutil>=2.8.0 in c:\users\ali\anaconda3\lib\site-packages (from fbprophet) (2.9.0.post0)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\ali\anaconda3\lib\site-packages (from fbprophet) (4.66.5)
Collecting pymeeus<=1,>=0.3.13 (from convertdate>=2.1.2->fbprophet)
  Downloading PyMeeus-0.5.12.tar.gz (5.8 MB)
     ---------------------------------------- 0.0/5.8 MB ? eta -:--:--
     ---------------------------------------- 0.0/5.8 MB ? eta -:--:--
     - -------------------------------------- 0.3/5.8 MB ? eta -:--:--
     --- ------------------------------------ 0.5/5.8 MB 1.0 MB/s eta 0:00:05
     ----- ---------------------------------- 0.8/5.8 MB 1.1 MB/s eta 0:00:05
     ------- -------------------------------- 1.0/5.8 MB 1.1 MB/s eta 0:00:05
     --------- ------------------------------ 1.3/5.8 MB 1.2 MB/s eta 0:00:04
     ---------- ----------------------------- 1.6/5.8 MB 1.2 MB/s eta 0:00:04
     ------------ --------------------------- 1.8/5.8 MB 1.2 MB/s eta 0:00:04
     -------------- ------------------------- 2.1/5.8 MB 1.2 MB/s eta 0:00:03
     ---------------- ----------------------- 2.4/5.8 MB 1.3 MB/s eta 0:00:03
     ------------------ --------------------- 2.6/5.8 MB 1.3 MB/s eta 0:00:03
     --------------------- ------------------ 3.1/5.8 MB 1.3 MB/s eta 0:00:02
     ----------------------- ---------------- 3.4/5.8 MB 1.3 MB/s eta 0:00:02
     ------------------------- -------------- 3.7/5.8 MB 1.3 MB/s eta 0:00:02
     --------------------------- ------------ 3.9/5.8 MB 1.3 MB/s eta 0:00:02
     ----------------------------- ---------- 4.2/5.8 MB 1.4 MB/s eta 0:00:02
     ------------------------------ --------- 4.5/5.8 MB 1.4 MB/s eta 0:00:01
     ---------------------------------- ----- 5.0/5.8 MB 1.4 MB/s eta 0:00:01
     ------------------------------------ --- 5.2/5.8 MB 1.4 MB/s eta 0:00:01
     -------------------------------------- - 5.5/5.8 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------- 5.8/5.8 MB 1.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting ephem>=3.7.5.3 (from LunarCalendar>=0.0.9->fbprophet)
  Downloading ephem-4.2-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: pytz in c:\users\ali\anaconda3\lib\site-packages (from LunarCalendar>=0.0.9->fbprophet) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ali\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ali\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ali\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ali\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ali\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\ali\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ali\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (3.1.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ali\anaconda3\lib\site-packages (from pandas>=1.0.4->fbprophet) (2023.3)
Requirement already satisfied: aiohttp<4.0,>=3.6 in c:\users\ali\anaconda3\lib\site-packages (from pystan>=2.14->fbprophet) (3.10.5)
Collecting clikit<0.7,>=0.6 (from pystan>=2.14->fbprophet)
  Downloading clikit-0.6.2-py2.py3-none-any.whl.metadata (1.6 kB)
INFO: pip is looking at multiple versions of pystan to determine which version is compatible with other requirements. This could take a while.
Collecting pystan>=2.14 (from fbprophet)
  Downloading pystan-3.9.1-py3-none-any.whl.metadata (3.7 kB)
  Downloading pystan-3.9.0-py3-none-any.whl.metadata (3.7 kB)
  Downloading pystan-3.8.0-py3-none-any.whl.metadata (3.8 kB)
  Downloading pystan-3.7.0-py3-none-any.whl.metadata (3.7 kB)
  Downloading pystan-3.6.0-py3-none-any.whl.metadata (3.7 kB)
  Downloading pystan-3.5.0-py3-none-any.whl.metadata (3.7 kB)
  Downloading pystan-3.4.0-py3-none-any.whl.metadata (3.7 kB)
INFO: pip is still looking at multiple versions of pystan to determine which version is compatible with other requirements. This could take a while.
  Downloading pystan-3.3.0-py3-none-any.whl.metadata (3.6 kB)
  Downloading pystan-3.2.0-py3-none-any.whl.metadata (3.6 kB)
  Downloading pystan-3.1.1-py3-none-any.whl.metadata (3.6 kB)
  Downloading pystan-3.1.0-py3-none-any.whl.metadata (3.6 kB)
  Downloading pystan-3.0.2-py3-none-any.whl.metadata (3.6 kB)
INFO: This is taking longer than usual. You might need to provide the dependency resolver with stricter constraints to reduce runtime. See https://pip.pypa.io/warnings/backtracking for guidance. If you want to abort this run, press Ctrl + C.
  Downloading pystan-3.0.1-py3-none-any.whl.metadata (3.6 kB)
  Downloading pystan-3.0.0-py3-none-any.whl.metadata (3.6 kB)
  Downloading pystan-2.19.1.1.tar.gz (16.2 MB)
     ---------------------------------------- 0.0/16.2 MB ? eta -:--:--
      --------------------------------------- 0.3/16.2 MB ? eta -:--:--
     - -------------------------------------- 0.5/16.2 MB 1.5 MB/s eta 0:00:11
     - -------------------------------------- 0.8/16.2 MB 1.5 MB/s eta 0:00:11
     -- ------------------------------------- 1.0/16.2 MB 1.5 MB/s eta 0:00:10
     --- ------------------------------------ 1.6/16.2 MB 1.5 MB/s eta 0:00:10
     ---- ----------------------------------- 1.8/16.2 MB 1.5 MB/s eta 0:00:10
     ----- ---------------------------------- 2.1/16.2 MB 1.5 MB/s eta 0:00:10
     ----- ---------------------------------- 2.4/16.2 MB 1.5 MB/s eta 0:00:10
     ------- -------------------------------- 2.9/16.2 MB 1.5 MB/s eta 0:00:09
     ------- -------------------------------- 3.1/16.2 MB 1.5 MB/s eta 0:00:09
     -------- ------------------------------- 3.4/16.2 MB 1.5 MB/s eta 0:00:09
     --------- ------------------------------ 3.7/16.2 MB 1.5 MB/s eta 0:00:09
     --------- ------------------------------ 3.9/16.2 MB 1.5 MB/s eta 0:00:09
     ----------- ---------------------------- 4.5/16.2 MB 1.5 MB/s eta 0:00:08
     ----------- ---------------------------- 4.7/16.2 MB 1.5 MB/s eta 0:00:08
     ------------ --------------------------- 5.0/16.2 MB 1.5 MB/s eta 0:00:08
     ------------ --------------------------- 5.2/16.2 MB 1.5 MB/s eta 0:00:08
     -------------- ------------------------- 5.8/16.2 MB 1.6 MB/s eta 0:00:07
     -------------- ------------------------- 6.0/16.2 MB 1.6 MB/s eta 0:00:07
     --------------- ------------------------ 6.3/16.2 MB 1.6 MB/s eta 0:00:07
     ---------------- ----------------------- 6.8/16.2 MB 1.6 MB/s eta 0:00:06
     ----------------- ---------------------- 7.1/16.2 MB 1.6 MB/s eta 0:00:06
     ------------------ --------------------- 7.6/16.2 MB 1.6 MB/s eta 0:00:06
     ------------------- -------------------- 7.9/16.2 MB 1.6 MB/s eta 0:00:06
     -------------------- ------------------- 8.4/16.2 MB 1.6 MB/s eta 0:00:05
     --------------------- ------------------ 8.7/16.2 MB 1.6 MB/s eta 0:00:05
     ---------------------- ----------------- 8.9/16.2 MB 1.6 MB/s eta 0:00:05
     ----------------------- ---------------- 9.4/16.2 MB 1.6 MB/s eta 0:00:05
     ----------------------- ---------------- 9.7/16.2 MB 1.6 MB/s eta 0:00:04
     ------------------------- -------------- 10.2/16.2 MB 1.7 MB/s eta 0:00:04
     ------------------------- -------------- 10.5/16.2 MB 1.7 MB/s eta 0:00:04
     -------------------------- ------------- 10.7/16.2 MB 1.7 MB/s eta 0:00:04
     --------------------------- ------------ 11.3/16.2 MB 1.7 MB/s eta 0:00:03
     ---------------------------- ----------- 11.5/16.2 MB 1.7 MB/s eta 0:00:03
     ----------------------------- ---------- 12.1/16.2 MB 1.7 MB/s eta 0:00:03
     ------------------------------ --------- 12.3/16.2 MB 1.7 MB/s eta 0:00:03
     ------------------------------- -------- 12.8/16.2 MB 1.7 MB/s eta 0:00:02
     -------------------------------- ------- 13.1/16.2 MB 1.7 MB/s eta 0:00:02
     --------------------------------- ------ 13.6/16.2 MB 1.7 MB/s eta 0:00:02
     ---------------------------------- ----- 13.9/16.2 MB 1.7 MB/s eta 0:00:02
     ----------------------------------- ---- 14.4/16.2 MB 1.7 MB/s eta 0:00:02
     ------------------------------------ --- 14.7/16.2 MB 1.7 MB/s eta 0:00:01
     ------------------------------------- -- 15.2/16.2 MB 1.7 MB/s eta 0:00:01
     -------------------------------------- - 15.5/16.2 MB 1.7 MB/s eta 0:00:01
     ---------------------------------------  16.0/16.2 MB 1.7 MB/s eta 0:00:01
     ---------------------------------------- 16.2/16.2 MB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [6 lines of output]
  Traceback (most recent call last):
    File "<string>", line 2, in <module>
    File "<pip-setuptools-caller>", line 34, in <module>
    File "C:\Users\ali\AppData\Local\Temp\pip-install-9wm4olha\pystan_88532057290f4ffb891e16a95e57eb77\setup.py", line 122, in <module>
      from Cython.Build.Inline import _get_build_extension
  ModuleNotFoundError: No module named 'Cython'
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

from sklearn.metrics import r2_score

plt.style.use("ggplot")

df0 = pd.read_csv("CONVENIENT_global_confirmed_cases.csv")
df1 = pd.read_csv("CONVENIENT_global_deaths.csv")

In [7]:
df0.describe()

,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
count,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,...,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000
mean,183.407180,292.869527,237.737303,41.935201,92.196147,0.009632,7.973730,8795.934326,391.688266,5219.915061,...,905.694396,220.006130,10.520140,483.504378,10093.690018,615.786340,0.468476,10.459720,300.468476,231.415061
std,329.000795,442.784181,333.472589,136.716917,238.652171,0.325506,31.987142,17215.543701,606.280740,8735.970601,...,2019.871939,267.055888,48.430177,590.806485,38440.492289,1690.587737,4.022327,22.607415,656.427796,685.809426
min,-48.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,-12934.000000,...,-21.000000,0.000000,-7.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,-6.000000
25%,24.250000,15.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,306.250000,...,0.000000,22.250000,0.000000,17.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,71.000000,89.000000,134.000000,0.000000,21.000000,0.000000,0.000000,2656.000000,142.500000,2112.000000,...,62.000000,98.000000,0.000000,257.500000,199.500000,71.500000,0.000000,1.000000,54.000000,29.000000
75%,185.750000,460.500000,301.250000,35.000000,101.000000,0.000000,1.000000,10538.500000,515.000000,5412.500000,...,655.500000,327.500000,0.000000,830.500000,3644.250000,597.750000,0.000000,10.000000,246.750000,137.000000
max,3243.000000,4789.000000,2521.000000,2313.000000,5035.000000,11.000000,468.000000,139853.000000,4388.000000,64038.000000,...,13612.000000,1478.000000,616.000000,4418.000000,454212.000000,30356.000000,72.000000,287.000000,5555.000000,9185.000000

In [8]:
df0.head()

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df1.describe()

,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
count,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.0,1142.000000,1142.000000,1142.000000,1142.000000,...,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.000000,1142.0,1142.000000,1142.000000,1142.000000
mean,6.914186,3.150613,6.025394,0.144483,1.692644,0.0,0.127846,114.248687,7.641856,19.238179,...,6.669877,1.433450,0.012259,5.126095,37.816112,4.998249,0.0,1.890543,3.552539,4.965849
std,15.642915,4.468616,7.458343,0.532189,3.047264,0.0,0.710097,181.903181,10.783200,26.163800,...,14.480140,2.093863,0.177203,6.748119,89.141889,10.990315,0.0,4.386790,9.581348,12.640019
min,0.000000,0.000000,0.000000,-2.000000,-3.000000,0.0,0.000000,0.000000,-2.000000,-81.000000,...,0.000000,0.000000,0.000000,-6.000000,-3.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,1.000000,1.000000,4.000000,0.000000,0.000000,0.0,0.000000,35.000000,3.000000,10.000000,...,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
75%,6.000000,5.000000,9.000000,0.000000,2.000000,0.0,0.000000,165.000000,11.000000,27.000000,...,5.000000,3.000000,0.000000,7.750000,3.750000,7.000000,0.0,2.000000,2.000000,3.000000
max,159.000000,21.000000,49.000000,7.000000,30.000000,0.0,12.000000,3351.000000,70.000000,145.000000,...,88.000000,9.000000,5.000000,35.000000,804.000000,268.000000,0.0,60.000000,72.000000,107.000000